<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"    
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{layout/layout1.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div layout:fragment = "content">
    <h1>READ</h1>
    <ul class = "postsDiv">

    </ul>



    

    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <input type="text" name="title">
                <input type="text" name="author">
            </div>
            <div class="modal-footer">
            <button type="button"  class="btn btn-danger btnDelete">DELETE</button>
              <button type="button" class="btn btn-primary btnModify">MODIFY</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>

        
      </div>
 
      <input type="text" name="inputTitle" >
      <input type="text" name="inputAuthor">
      <button class="submit">등록하기</button>  
    

      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="/js/axios.js"></script>
    </div>

  
    </div>


    <script layout:fragment="script">

        const path = "http://192.168.0.72:9090/posts"
        const postsDiv = document.querySelector(".postsDiv")
        const modalDiv = $(".modal")
        // 
        const inputTitle = document.querySelector('input[name="inputTitle"]')
        const inputAuthor = document.querySelector('input[name="inputAuthor"]')

        postsDiv.addEventListener("click", e => {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target
        console.log(target)

        const pid = target.getAttribute("data-id")

      console.log(pid)

      getPostOne(pid).then(post => {
        console.log(post)
        const {id,title,author} = post
        //modal의 내용물을 변경 
        document.querySelector('.modal-title').innerHTML = id 
        document.querySelector('input[name="title"]').value = title
        document.querySelector('input[name="author"]').value = author
        modalDiv.modal('show')
      })

    }, false)

    document.querySelector(".btnDelete").addEventListener("click",e => {

      const id =  document.querySelector('.modal-title').innerHTML

      deletePostOne(id).then(result => {
        console.log(result)
        modalDiv.modal('hide')
        getDataDefault()
      })


    },false)

    document.querySelector('.submit').addEventListener('click', (e)=>{
         

            const title = inputTitle.value
            const author = inputAuthor.value

            

            addDataPost({title,author}).then(data =>{
                console.log(data)
                inputTitle.value =  ''
                inputAuthor.value = ''

            })
            getDataDefault()

    },false)

    document.querySelector('.btnModify').addEventListener('click', (e) =>{
        const id = document.querySelector('.modal-title').innerHTML
        const title = document.querySelector('input[name="title"]').value
        const author = document.querySelector('input[name="author"]').value

        modifyPut({id,title,author}).then(data => {
            console.log(data)
            modalDiv.modal('hide')
            getDataDefault()
        })

    })

    function getDataDefault(){
    getPosts().then(arr =>{
    let str = ""
    console.log(arr)
    for(let i = 0; i<arr.length; i++){
        const {id, title, author} = arr[i]
        str += `<li data-id = ${id}>${title}</li>`
    }
    console.log(str)
    postsDiv.innerHTML = str
    })
    }

    getDataDefault()

    
      



    </script>
    
</body>
</html>